body {

	color: white;     
	background-color: grey;
	font-style: bold:
	font: Helvetica; 
	}
	
.headlinks2 {
	border-style: solid;
	border-color:black;
	background-color: grey; 
	color: white;     
	font-family: Helvetica;
	text-align: left;
	margin:10px;
	padding:20pt;
	width: 75%;
	}
	
p {
	color: white; 
	font-size:12pt;
	 
	}

h1 { 

	Text-align:left;	
	font-style:italic; 
	font-weight:bold; 
	}

h3
	{ 
	font-style:italic; 
	font-weight:bold; 
	}
ul { 
	
	font-size: 12pt;     
	
}