body {

	color: white;     
	background-color: grey;         
	font-style: bold:
	font: Helvetica;
	max-width: 0 auto;
	height: 0 auto;
	margin: 0 auto;
	}
	
.headlinks2 {
	outline-style: solid;
	outline-color:black;
	background-color: navy; 
	color: white;
	font-size: 18pt;     
	font-family: Helvetica;
	text-align: left; 
	margin: auto;
	line-height:12pt; 
	padding:20pt;
	width: 0 auto;
	}
	
p {
	color: white; 
	font-size:12pt;
	 
	}

h1 { 

	Text-align:left;	
	font-style:italic; 
	font-weight:bold; 
	}

h3
	{ 
	font-style:italic; 
	font-weight:bold; 
	}
ul { 
	
	font-size: 12pt;     
	
}
h2 { 
	font-size: 36pt;  
	text-align:left;
	font-style:italic; 
	font-weight:bold; 
	}
#menu {
	outline-style: solid;
	outline-color:black;
	background-color: grey; 
	color: white;
	font-size: 18pt;     
	font-family: Helvetica;
	text-align: left; 
	margin: 10px;
	line-height:16pt; 
	padding:20pt;
	
}